<!DOCTYPE html>
<html>
    <head>
        <title>Blog app</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" >
    </head>
    <body>
        <div class="ui inverted menu">
            <div class=" ui container">
                  <a class="header item" href="/"> <i class="code icon" style="font-size:2em;" ></i>Blog Post</a>
  <a class="item" href="/">
    Home
  </a>
  <a class="item" href="/blog/new">
    New Post
  </a>
            </div>

</div>


<form action="/blogs" method="POST">
    <div class="ui raised  text container segment" style="margin-top:50px;">
        <h1 class="header">New Blog</h1>
     <div class="ui form">
  <div class="field">
    <label>Title:</label>
    <input type="text" name="title" placeholder="title">
  </div>
  </div>
    
    <div class="ui form">
  <div class="field">
    <label>Image URL:</label>
    <input type="text" name="image" placeholder="image url">
  </div>
</div>
    
    <div class="ui form">
     <div class="field">
    <label>Blog Post:</label>
    <textarea name="body" placeholder="body goes here..."></textarea>
  </div>
  </div>
  <div class="ui form">
  <div class="field">

    <input type="submit" class="ui blue basic button" style="margin-top:10px;">
  </div>
  </div>
    </div>
   
</form>


    </body>
</html>